
<div class="container">
  <div class="profile text-center">
    <div class="main">
      <div class="main-content">
        <!-- <img src="<%= @user.avatar %>" alt=""> -->
        <h2><%= @user.name %><%= @user.surname %></h2>
        <%= render partial: "shared/profile_cards" %>
        <% unless @user.avatar.nil? %>
        <%= image_tag @user.avatar, class: "avatar-large" %>
        <% end %>
        <a href="#" class="btn btn-primary ">Get in touch</a>
      </div>
    </div>

    <div class="stat">

      <div class="stat-content">
        <div class="title"><h3>Reservations</h3></div>
        <% if @user.reservations.empty? %>
        <p>No reservations</p>

        <% else %>

        <% @user.reservations.each do |reservation| %>
        <div class="ul-box-style">
          <ul>
            <li>reservation id :<%= reservation.id %></li>
            <li>reservation hour: <%= reservation.hour %></li>
            <li>reservation shower:<%= reservation.shower.title %></li>
          </ul>
        </div>
        <% end %>
        <% end %>
      </div>
    </div>
    <div class="stat">

      <div class="stat-content">

        <div class="title"><h3>Your Showers</h3></div>
        <%= link_to "Create Shower", new_shower_path, :class => "link_shower" %>
        <!-- <a href="#" class="btn btn-primary ">Create Shower</a> -->
        <% if @user.showers.empty? %>
        <p>you don't have showers yet</p>

        <% else %>
        <% @user.showers.each do |shower| %>
        <div class="box-style">
          <div class="ul-box-style-2" style="background-image: linear-gradient(-225deg, rgba(0,21,168,0.3) 0%, rgba(50,106,251,0.4) 50%), url('<%= cl_image_path shower.pictures[0].path , height: 800, width: 800, crop: :fill %>')">
            <h3 class="shower-title"><%= shower.title %></h3>

          </div>
          <div class="shower-infos">
            <ul>
              <li>shower id :<%= shower.id %></li>
              <li>Address: <%= shower.address %></li>
              <li>Price:<%= shower.price %></li>
            </ul>
          </div>
        </div>
        <% end %>
        <% end %>

      </div>

    </div>
    <div class="stat">
      <div class="stat-content">
        <!-- <a href="#" class="btn btn-primary ">Find Shower</a> -->
        <%= link_to "Find Shower", showers_path, :class => "btn btn-primary " %>

      </div>
    </div>
    <div class="description">
      <div class="description-content">

        <div class="infos_user">
          <div class='drop'></div>
         <div class="title"><h3>User infos</h3></div>
          <ul>
            <li><strong>Address :</strong> <%= @user.address %></li>
            <li><strong>Email :</strong> <%= @user.email %></li>
            <li><strong>Description :</strong> Kathleen Ann Shower (born March 8, 1953 as Kathleen Ann Schrauer) is an American model and actress. Known as Kathy Shower she is Playboy's Playmate of the Month for May 1985 and Playmate of the Year for 1986. At the time of her first appearance, she was the oldest woman ever to appear as a Playboy Playmate, at age 33 as well as a single mother of two.</li>
            <li>ratings</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>



   <!--    create_table "users", force: :cascade do |t|
    t.string "name"
    t.string "address"
    t.string "surname"
    t.boolean "host"
    t.datetime "created_at", null: false
    t.datetime "updated_at", null: false
    t.string "email", default: "", null: false
    t.string "encrypted_password", default: "", null: false
    t.string "reset_password_token"
    t.datetime "reset_password_sent_at"
    t.datetime "remember_created_at"
    t.integer "sign_in_count", default: 0, null: false
    t.datetime "current_sign_in_at"
    t.datetime "last_sign_in_at"
    t.inet "current_sign_in_ip"
    t.inet "last_sign_in_ip"
    t.string "avatar"
    t.index ["email"], name: "index_users_on_email", unique: true
    t.index ["reset_password_token"], name: "index_users_on_reset_password_token", unique: true
    end -->

