
<div class="container">
  <div class="profile text-center">
    <div class="main">
      <div class="main-content">
        <!-- <img src="<%= @user.avatar %>" alt=""> -->
        <h2><%= @user.name %><%= @user.surname %></h2>
        <%= render partial: "shared/profile_cards" %>
        <% unless @user.avatar.nil? %>
        <%= image_tag @user.avatar, class: "avatar-large" %>
        <% end %>
        <a href="#" class="btn btn-primary ">Get in touch</a>
      </div>
    </div>

    <div class="stat">
      <div class="stat-content">
        <% raise %>
        <%= link_to 'All Reservations', shower_reservations_path(@showers), class: "btn btn-primary" %>
      </div>
    </div>
    <div class="stat">
      <div class="stat-content">

        <%= link_to "Create Shower", new_shower_path %>
        <!-- <a href="#" class="btn btn-primary ">Create Shower</a> -->


      </div>
    </div>
    <div class="stat">
      <div class="stat-content">
        <%=  link_to 'Find Shower', showers_path, class: "btn btn-primary"%>

      </div>
    </div>
    <div class="description">
      <div class="description-content">
        <h3>User infos</h3>
        <ul class="no-bullet">
          <li><%= @user.address %></li>
          <li><%= @user.email %></li>
          <li>ratings</li>
        </ul>

      </div>
    </div>
  </div>
</div>



   <!--    create_table "users", force: :cascade do |t|
    t.string "name"
    t.string "address"
    t.string "surname"
    t.boolean "host"
    t.datetime "created_at", null: false
    t.datetime "updated_at", null: false
    t.string "email", default: "", null: false
    t.string "encrypted_password", default: "", null: false
    t.string "reset_password_token"
    t.datetime "reset_password_sent_at"
    t.datetime "remember_created_at"
    t.integer "sign_in_count", default: 0, null: false
    t.datetime "current_sign_in_at"
    t.datetime "last_sign_in_at"
    t.inet "current_sign_in_ip"
    t.inet "last_sign_in_ip"
    t.string "avatar"
    t.index ["email"], name: "index_users_on_email", unique: true
    t.index ["reset_password_token"], name: "index_users_on_reset_password_token", unique: true
    end -->

