
 <% @user.reservations.each do |reservation| %>

<ul class="cards">
  <li class="cards__item">
    <div class="card">
      <div class="card__image card__image--fence" style="background-image: url('<%= cl_image_path shower.pictures[0].path , height: 200, width: 200, crop: :fill %>')"></div>
      <div class="card__content">


        <div class="card__title"><%= reservation.title %></div>
        <p class="card__text">reservation id :<%= reservation.id %> <br> reservation hour: <%= reservation.hour %> <br> reservation shower:<%= reservation.shower.title %> </p>
        <button class="btn btn--block card__btn">Button</button>
      </div>
    </div>
  </li>
</ul>

<% end %>



