<h1>All Reservations</h1>
<div class="container">
  <div class="row">
    <%= current_user.reservations.each do |reservation| %>
    <div class="col-xs-12 col-sm-12 col-md-12">
      <div class="all-res">
        <%= image_tag "sexy_shower.jpg", :class => "all-res-avatar" %>
        <div class="all-res-name">
          <h3><%= @shower.user.name %></h3>
          <p><%= @reservation.hour %></p>
        </div>
        <div class="all-res-body">
          <p><strong><%= @shower.title %></strong></p>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil odio molestiae quasi, repellat debitis. Facere.
          </p>
        </div>
        <div class="all-res-status">
          <p class="status pending">Pending</p>
          <p>€<%= @shower.price %></p>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>




