<div class="container text-align">
  <div class="center-form">
    <div class="row">
      <div class="col-xs-12 col-md-4">
        <%= simple_form_for([@shower, @reservation]) do |f| %>
        <%= f.input :card_number, placeholder: "XXXX-XXXX-XXXX-1234"  %>
        <%= f.input :expiration, placeholder: "MM/YYYY" %>
        <%= f.input :security_code, placeholder: "XXX" %>
        <%= f.input :availibility, :as => :hidden, :input_html => { :value => @availibility.id} %>
        <%=f.button :submit, class: "btn-medium" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
