<div class="container">
  <div class="text-center">
    <%= link_to 'Home', showers_path, class: "btn-medium" %>
  </div>
  <div class="reservation-title">
    <h1>Confirmation: <%= @reservation.shower.title %> booked</h1>
    <p>Booked by <%= @reservation.user.first_name %> <%= @reservation.user.last_name %></p>
    <p>Booked at <%= @reservation.created_at %></p>
  </div>

  <div class="main-grid">

          <div class="reservation-box-left">
            <h2>Shower available @ <%= @reservation.hour%>:00 h</h2>
            <div class="reservation-divider"></div>
            <p><strong>Location:</strong></p>
            <p><%= @shower.address %></p>
          </div>

          <div class="reservation-box-right">
            <h2>Charges</h2>
            <p>$<%= @shower.price %></p>
            <p>Service fee:</p>
            <div class="reservation-shaded-area">Total: </div>
          </div>

          <div class="reservation-box-bottom">
            <h2>Payment</h2>
            <p>Paid with Mastercard xxxx-xxxx-xxxx-1234</p>
            <p>Total Paid:</p>
            <div class="reservation-divider"></div>
            <p>Add billing detials</p>
          </div>
  </div>

</div>



