<h1>Showers</h1>

<div class="container">
  <div class="row">
      <% @showers.each do |shower| %>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="card" style="background-image: url('<%= cl_image_path shower.pictures[0].path , height: 300, width: 400, crop: :fill %>')">
        <div class="card-category"><%= shower.description %></div>
        <div class="card-description">
          <h2><%= shower.title %></h2>
          <p><%= shower.address %></p>
          <p>host: <%= shower.user.name %></p>
        </div>
        <img class="card-user" src="http://www.abc.net.au/news/image/8314104-1x1-940x940.jpg">
        <!-- Put this in img class="car-user" src=" ICI " si je vx que limage soit mise automatiquement -->
        <a class="card-link" href="<%= shower_path(shower) %>" ></a>
      </div>
    </div>
      <% end %>
  </div>
</div>
