<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="reserve-container">
        <div class="reserve-box">
          <%= render partial: "reservations/reserve" %>
        </div>
        <p class="description-nav">
          <span>Overview • Reviews • The Host • Location</span>
        </p>
        <div class="description-nav-divider"></div>
        <div class="reserve-body">
          <h1><%= @shower.description %></h1>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit facilis officiis, harum quisquam optio totam unde odio sint repellat eligendi! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis, deserunt.
          </p>
        </div>
        <div class="description-nav-divider"></div>
        <div class="contact-host">
          <h3>Contact Host</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit facilis officiis, harum quisquam optio totam unde odio sint repellat eligendi! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis, deserunt.
          </p>
        </div>

        <div id="" class="banner" style="height: 588px; background-image: url('<%= cl_image_path @shower.pictures[0].path , crop: :fill %>')">
        </div>

      </div>
    </div>
  </div>
</div>
<div id="map" style="width: 100%; height: 600px;"></div>

<% content_for(:after_js) do %>
<%= javascript_tag do %>
var handler = Gmaps.build('Google');
handler.buildMap({ internal: { id: 'map' } }, function() {
markers = handler.addMarkers(<%= raw @hash.to_json %>);
handler.bounds.extendWith(markers);
handler.fitMapToBounds();
if (markers.length == 0) {
handler.getMap().setZoom(2);
} else if (markers.length == 1) {
handler.getMap().setZoom(14);
}
});
<% end %>
<% end %>







