<h1><%= @shower.title %></h1>

<div class="banner" style="background-image: url('<%= cl_image_path @shower.pictures[0].path , height: 300, width: 400, crop: :fill %>')">
  <div class="banner-content">
    <%= link_to 'View Photos', class: "btn btn-primary" %>
  </div>
</div>


<div class="container">
  <div class="text-center">
    <div class="row">
      <div class="col-xs-12">
        <h1><%= @shower.description %></h1>
        <% @shower.pictures.each do |picture| %>
  <%= cl_image_tag picture.path, width: 300, height: 200, crop: :fill %>
<% end %>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit facilis officiis, harum quisquam optio totam unde odio sint repellat eligendi!
        </p>


      </div>
    </div>
  </div>
</div>





